.box{
    border:3px solid;
    border-color: black;
    width:400px;
    height:1150px;
    display: flex;
    flex-direction:column;
    border-radius: 10px;
}
.box1{
    display: flex;
    /*border: 2px solid;
    border-color: black;*/
    width: 380px;
    height: 80px;
    margin:10px;
}
.picture{
    width:50px;
    height: 95px;
   /* border: 2px solid;
    border-color: black;*/
    border-radius: 5px;
    padding: 5px;
    margin: 10px 7px;
}
.text{
    /*border: 2px solid;
    border-color: black;*/
    width:120px;
    height: 70px;
    margin-top: 10px;
    margin-left: 20px;
}
img{
    border-radius: 5px;
    width:80px;
}
h3:hover{
    color:#99c9ff;
    cursor:pointer;
}
hr{
    width:380px;
    border-style: dotted;
}